@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
}

html,
body {
      height: 100%;
      width: 100%;
      color: white;
}

#main {
      height: 100%;
      width: 100%;
      background-color: black;
}

#nav {
      align-items: center;
      padding: 0px 3vw;
      height: 6vw;
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 1vh;
}

#nav h3 {
      font-weight: 400;
}

#menu {
      display: flex;
      justify-content: space-between;
      gap: 6vw;
}

#menu h3 {
      font-weight: 400;
}

#main h1 {
      position: relative;
      /* for moving image to background */
      z-index: 9;
      font-size: 13vh;
      font-weight: 500;
      line-height: 12.8vh;
      width: 80%;
      margin-left: 10%;
}

#main h1:nth-child(2) {
      margin-top: 22vh;
      padding-left: 10%;
}

#main h1:nth-child(3) {
      padding-left: 20%;
}

#main h1:nth-child(4) {
      padding-left: 25%;
}

img {

      height: 50vh;
      position: absolute;
      top: 14%;
      left: 55%;
}

#img1 {
      rotate: 10deg;
}

#footer {
      margin-top: 10vh;
      text-align: center;
}

#footer h2 {
      font-weight: 400;
}

@media (max-width:600px) {
      #nav {
            align-items: center;
            padding: 2vh 3vw;
            height: 6vw;
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 1vh;
      }

      #nav h3 {
            font-size: 1.8vh;
            font-weight: 400;
      }

      #menu {
            display: flex;
            justify-content: space-between;
            gap: 6vw;
      }

      #menu h3 {
            font-weight: 400;
      }

      #main h1 {
            position: relative;
            /* for moving image to background */
            z-index: 9;
            font-size: 6vh;
            font-weight: 500;
            line-height: 7vh;
            width: 80%;
            margin-left: 8%;
      }

      #main h1:nth-child(2) {
            margin-top: 43vh;
            padding-left: 12%;
      }

      #main h1:nth-child(3) {
            padding-left: 22%;
      }

      img {

            height: 35vh;
            position: absolute;
            top: 14%;
            left: 30%;
      }

      #img1 {
            rotate: 10deg;
      }

      #footer {
            margin-top: 7vh;
            text-align: center;
      }

      #footer h2 {
            font-weight: 400;
            font-size: 2vh;
      }
}