*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
    border: 2px solid black;
    height: 600px;
    width: 400px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.box img{
    width: 90%;
}

.cta-button{
    padding: 1rem 3rem;
    border-radius: 10px;
    background-color: rgb(47, 202, 47);
    color: white;
}